.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 100%;
}
.search-container{
    text-align: left;
}
